.itemCard {
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.itemCard__img-wrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  border: solid 1px #0000004d;
  border-radius: 19px;
  overflow: hidden;
}

.itemCard__img {
  width: 100%;
  display: block;
}

.itemCard__name {
  position: absolute;
  text-align: center;
  top: 15px;
  background-color: #fff;
  color: #00000099;
  font-weight: 700;
  font-size: 16px;
  padding: 2px 12px;
  border-radius: 4px;
}
