.itemCard {
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.itemCard__img-wrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border: solid 1px #0000004d;
  border-radius: 19px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.itemCard__name {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 15px;
  background-color: #fff;
  color: #00000099;
  font-weight: 700;
  font-size: 16px;
  padding: 2px 12px;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .itemCard__name {
    top: 7px;
  }
}
