.weather-card {
  position: relative;
  padding-top: 28px;
  display: flex;
  align-items: center;
}

.weather-card__img-wrapper {
  margin: 0;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.weather-card__img {
  position: absolute;
  right: 0;
}

.weather-card__temp {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  position: absolute;
  left: 16px;
}
