.app {
  font-family: "Cabinet Grostesk", Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

.app__content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 16px 0;
  max-width: 1360px;
}

@media screen and (max-width: 800px) {
  .app__content {
    padding-top: 18px;
  }
}
