.app {
  font-family: "Cabinet Grostesk", Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

.app__content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 40px 0;
  max-width: 1440px;
}
