.itemCards {
  list-style-type: none;
  margin: 0 auto;
  display: none;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .itemCards {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 245px);
  }
}

@media screen and (max-width: 500px) {
  .itemCards {
    grid-template-columns: repeat(auto-fit, 164px);
  }
}
