.header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  width: 100%;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__img-wrapper {
  margin: 0;
}

.header__img-wrapper_type_logo {
  width: 89px;
  margin-right: 24px;
}

.header__img-wrapper_type_profile {
  width: 40;
}

.header__img {
  width: 100%;
}

.header__text {
  margin: 0;
}

.header__text_type_username {
  margin: 0 88px 0 20px;
}

.header__btn {
  background-color: transparent;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
