.header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  width: 100%;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__img-wrapper {
  margin: 0;
}

.header__img-wrapper_type_logo {
  width: 89px;
  margin-right: 24px;
}

.header__img-wrapper_type_profile {
  width: 40;
}

.header__img {
  width: 100%;
}

.header__text {
  margin: 0;
}

.header__text_type_username {
  margin: 0 88px 0 20px;
}

.header__add-clothes-btn {
  background-color: transparent;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.header__menu-btn {
  display: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .header__column_position_right {
    display: none;
  }

  .header__column_state_menu {
    display: flex;
  }

  .header__menu-btn {
    display: block;
    background-image: url(../../assets/menu-btn.svg);
    background-size: cover;
    width: 44px;
    height: 44px;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .header__column_position_left {
    flex-direction: column;
    align-items: start;
  }

  .header__text {
    margin-top: 32px;
  }
}
