.footer {
  margin: 171px 0 0;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 147px;
    padding-bottom: 20px;
  }
}
